{% extends "base.html" %}
{% load static %}
{% block title %}HyperLocal{% endblock title %}

{% block content %}
<div class="city">
    <div class="container">
        <h2 class="mt-3 mb-3">Popular Categories in  <span class="text-red">{{city}}</span></h2>
        <div class="categories-wrapper mt-4">
			<div class="panel">
				<div class="cities-container">
					<ul>
						{% for data in categories %}
							<li>
                                <a href='/categories/?keyword={{data}}&location={{city}}, {{state}}' class='hovereffect'>{{data}}</a>
                                <p></p>
                                {% comment %} <button type="button" id="{{data}}" onclick="subdata('{{data}}')" class="hovereffect">{{data}}</button> {% endcomment %}
                            </li>
						{% endfor %}
					</ul>
				</div>
            </div>
		</div>
    </div>
</div>
<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="banner-headline">
                <h3>
                    <strong>Explore</strong>
                    <br>
                    <span><strong class="color">HyperLocal</strong> helps you find local businesses in your city and
                        neighborhood.</span>
                </h3>
            </div>
        </div>
    </div>

	<div class="row">
		<div class="col-xl-12">

			<form class='mgbottom' action="{% url 'Business-list' %}" method='POST'>
				{% csrf_token %}
				<!-- <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> -->
				<div class="row">
					<div class="col-md-12">
						<div class="intro-banner-search-form margin-top-95">
							<!-- Search Field -->
							<div class="intro-search-field with-autocomplete position-relative">
								<label for="autocomplete-input" class="field-title ripple-effect">Service</label>
								<div class="input-with-icon">
									<input id="autocomplete-input keywordInput" class="keywordInput" type="text" name="keyword" placeholder="Service Needed">
									<!-- <i class="icon-material-outline-location-on"></i> -->
									<div id="serviceList" class="position-absolute">
									</div>
								</div>
							</div>
	
							<!-- Search Field -->
							<div class="intro-search-field">
								<label for="intro-keywords" class="field-title ripple-effect">Location</label>
								<div class="input-with-icon">
								<input id="intro-keywords" class="locationInput" name="location" type="text" placeholder="City, St or Zip" value="{{city}}, {{state}}">
								<i class="icon-material-outline-location-on"></i>
								<div id="locationList" class="position-absolute">
								</div>
								</div>
							</div>
							
	
							<!-- Button -->
							<div class="intro-search-button">
								<button type='submit' class="button ripple-effect">Search</button>
							</div>
	
						</div>
	
					</div>
				</div>
			</form>

		</div>
	</div>

</div>
<!-- Container / End -->


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
{% endblock content %}
{% block staticjs %}
<script>
	var businessSearchContext = {{ detail_service|safe }};
</script>
<script>
	var businessPostalcode = {{ detail_postalcode|safe }};
</script>
<script>
	function subdata(e){
        console.log(e)
        var loc = $('.locationInput').val();
        data = {
                "keyword":e,
                "location":loc
        }
        $.post("{% url 'Business-list' %}",data);
    }
</script>
<script src="{% static 'js/index.js' %}" type="text/javascript"></script>
<script src="{% static 'js/business_listing.js' %}" type="text/javascript"></script>
<!-- Scripts {% static 'css/colors/blue.css' %}
================================================== -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.3.2.min.js' %}"></script>
<script src="{% static 'js/mmenu.min.js' %}"></script>
<script src="{% static 'js/tippy.all.min.js' %}"></script>
<script src="{% static 'js/simplebar.min.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/snackbar.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock staticjs %}
